{
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px Helvetica;
}

.inputBox input[type=text] {
  /*padding: 100px;*/
  width: 800px;
  border-radius: 3px;
  border: 1px solid #eee;
  border-top-color: #ddd;
}

#newTask{
 width:800px;
 border-radius: 5px;
}


#deleteButton{
   height:24px;
   width:24px;
   margin-top: -28px;
   margin-right: 5px;
   padding: 0px;
   float:right;
}

.list{
   width:600px;
   height:800px;
   border: 1px solid #eee;
  border-top-color: #ddd;
}

